html {
    background-color: black;
}

.keys {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.key {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 200px;
    gap: 15px;
    background-color: white;
    border: solid 2px black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

div {
    display: flex;
    justify-content: end;
    margin-bottom: 10px ;
}

span {
    color: blue;
    text-align: center;
    font-size: 20px;
}

kbd {
    text-align: center;
    font-size: 30px;   
}

.sharp {
    color: white;
    display: flex;
    background-color: black;
    height: 300px;
    position: absolute;
}

#z {
    margin : auto;
}

#u {
    left : 230px;
}
#r {
    right: 230px;
}

.taper {
    background-color: blue;
}

